.section {
}

.discountTitle {
  text-align: start;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  margin: 40px 0px 20px 0px;
}

.discountBlock {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 35px;
}
.discountGoods {
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: end;
}
.goodsButton {
  box-sizing: border-box;
  border: 2px solid transparent;
  border-image: linear-gradient(to left top,#5463e9 50%,  transparent 10%, transparent 10%, #d414cb 40%);
  border-image-slice: 1;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding: 14px 55px;
}

.product {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  overflow: hidden;
}

.sales {
  position: absolute;
  right: 8%;
  top: 15px;
  border: 0.5px solid #ff4343;
  border-radius: 10px;
  padding: 3px 5px;
  font-size: 10px;
  line-height: 12px;
}

.price {
  margin-top: 23px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.priceSale {
  margin-right: 15px;
  font-size: 14px;
  line-height: 16px;
  color: #ff4343;
}

.oldPrice {
  font-size: 10px;
  line-height: 12px;
  color: rgba(70, 70, 70, 0.55);
}
.oldPrice svg {
  position: relative;
  right: 33px;
}

.productTextOne {
  font-size: 12px;
  line-height: 124.19%;
  color: #000000;
  text-align: start;
}

.productText {
  font-size: 12px;
  line-height: 124.19%;
  color: #000000;
  text-align: start;
}

.productName {
  margin-top: 10px;
  margin-bottom: 12px;
  text-align: start;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

.prodictReviews {
  display: flex;
  align-items: center;
}
.prodictReviews img {
  margin-right: 8px;
  margin-left: 5px;
}

.reviews {
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.buttonBlock {
  margin-top: 20px;
}

.button {
  background: linear-gradient(96.78deg, #f64d4d -57.09%, #4d5ef6 101.17%);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.12);
  padding: 8px 57px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  border-radius: 12px;
  display: flex;
  position: relative;
}

.button span{
  position: absolute;
  right: 10%;
  top: 14%;
}

.button:active{
  background: linear-gradient(96.78deg, #f64d4d -57.09%, #4d5ef6 101.17%);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 1.12);
  padding: 6px 57px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;  
}

.button span{
  padding: 3px 8px;
  border-radius: 100%;
  background-color: #f8f8f8;
  color: #d414cb;
}

@media(max-width:1200px){
  .discountBlock {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
  }
  .discountGoods {
    margin: 20px 0px 10px 0px;
  }
}


@media(max-width:1024px){
  .discountTitle {
    text-align: start;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    margin: 20px 0px 20px 0px;
  }
  .discountBlock {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
  }

}

@media(max-width:768px){
  .discountBlock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
  }
}