.empty{
}

.emptyBlock{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.cartEmpty{
    display: block;
    margin: auto;
    width: 400px;
    height: 400px;
}

.empty h2{
    /* margin-top: 20px; */
    font-size: 25px;
}



.button{
    display: inline-block;
    padding: 15px 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    background-color: rgb(210, 15, 228);
    margin-bottom: 30px;
    max-width: 300px;
    align-self: center;
}